@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #132f69;
}

.margin-p{
    width: 80.6%; 
    margin-left: 277px;
    }

.tog{
        width: 80.6%; 
       
        margin-left: 206px;  
    }


    /* .pr{
        background-image: url("https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg");
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */




    @media (min-width: 2992px) {
        .margin-p {
            width: 80.6%;
            margin-left: 542px;
        }

        .tog {
            width: 80.6%;
            margin-left: 400px;
            
        }
      }

      @media (min-width: 1441px) {
        .toogle-menu-btn{
    padding: 6px 11px 102px 0px;
}
      }


      @media (max-width: 1441px) {
       .layout-nav{
        width: 99.9% !important;
    height: 54vh !important;
    z-index: 1;
       }
       .image-div{
        display: none !important;
       }

       .toggle-nav{
        height: 8% !important;
        transition: 0.6s;
    }
   
    .open-close-btn{
        margin-bottom: 0px !important;
        margin-right: 25px !important;
        margin-top: 12px !important;
    }

    .margin-p {
      
        margin-left: 0px !important;
        z-index: -1 ;
        /* position: relative; */
    }

    .tog{
        margin-left: 0px !important;
        z-index: -1 ;
        /* position: relative; */


    }
    .about-div{
        align-items: center !important;
    }
    .education-section{
       
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
       
    }

    .techicalSkill{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        
    }

    .project-section{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .contact-div{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .home-div h2,h1{
        font-size: 26px !important;
   
    }
      }


      @media (max-width: 528px) {
      .btn{
        font-size: 13px !important;
      }
      .responsive-class {
        width: 80vw !important;
    margin-left: -75px !important;
    }

    .Typewriter{
        font-size: 8px !important;
       
    }

    .heading{
        font-size: 24px !important;
    }
    



      }



      @media (max-width: 840px) {
        .me-image{
            display: none !important;
        }
        .react-card-flip{
            padding-bottom: 24px !important;
        }
      }